*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    max-width:1000px;
    background: #fff;
    margin: 50px;
    box-shadow: 0 50px 75px rgba(0,0,0,0.1);
    border-left: 50px solid #fff;
    border-right: 50px solid #fff;
}

.container .top {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 40px;
    padding-bottom: 0;
}

.container .top .image_box{

    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.container .top .image_box .box{
    position: relative;
    width: 70%;
    min-width: 200px;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
}

.container .top .image_box .box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.container .top .profile_text{
    position: relative;
    padding: 40px;
    display: flex;
    align-items: center;
}

.container .top .profile_text h3{
    font-size: 3em;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    font-weight: 600;
    color: #333;
}

.container .top .profile_text h3 span{
    position: relative;
    font-size: 0.5em;
    font-weight: 300;
    top: -10px;
}

.container .content_box{
    position: relative;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 40px 40px;
}

.container .content_box h3{
    border-left: 4px solid #ff8bb3;
    padding-left: 10px;
    line-height: 1em;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    margin-top: 50px ;
}

.container .content_box ul {
    position: relative;
    margin: 10px 0;
    padding-inline-start: 0%;
}

.container .content_box ul li{
    list-style: none;
    margin: 25px 0 ;
    line-height: 1em;
    color:#333;
    cursor: pointer;
    display: flex;

}

.container .content_box ul li ion-icon{
    font-size: 1.2em;
    margin-right: 10px;
    color: #3590d2;
}

.container .content_box ul.education li{
    flex-direction: column;
    margin: 25px 0;
}

h5{
    color: #3590d3;
}

h4 {
    color: #333;
    font-weight: 500;
    margin: 5px 0;
}

h6{
    color: #666;
    font-weight: 300;
    font-size: 1em;
}